/* Styles for our wine website */

* {
padding: 0;
margin: 0;
box-sizing: border-box;

}

body {
    color: #fff;
    /* background: orange; */
    /* background-image: url(../images/grid-16.png); */
    background: #500;
    background-image: url("../images/smallbrandy-turner-nZ37ifip5VM-unsplash.jpg");
    /* background-repeat: repeat-y;
    background-position: 220px 0; */
    
}

header {
    background: rgb(20, 2, 2);
    width: 180px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
nav li {
    height: 40px;
    line-height: 40px;
    /* background: #800; */
    position: relative;
    
}

.drop-down {
    display: none;
    
}

nav li:hover .drop-down {
    display: block;
    position: absolute;
    top: 0;
    left: 120px;
    z-index: 1;
    width: 140px;
    list-style-type: none;
   

}

nav a {
    color: #fff;
    padding-left: 15px;
    text-decoration: none;
    display: block;

}

nav a:hover {
    background: #500;
}

#logo {
    background-image: url("../images/the Winery logo_small.png");
    margin-top: 0;
    margin-bottom: 100px;
    /* margin-left: 35px; */
}

.row {
    /* background: beige; */
    /* height: 400px; */
    padding: 5px;
    
    overflow: hidden;
}

.third {
    width: 300px;
    height: 300px;
    border-style: solid;
    background-image: url("../images/chelsea-pridham-MMOXoxE_Gj0-unsplash.jpg");
    margin-right: 15px;
    float: left;
}



.third:last-of-type {
    margin-right: 0;
}

#wrapper {
    margin: 140px 0 0 240px;
    /* padding: 20px 0; */
    width: 980px;

}


#wrapper-about {
    margin: 70px 0 0 260px;
    /* padding: 20px 0; */
    width: 980px;

}


main {
    width: 500px;
    float: left;
    height: 600px;
    background: lightblue;
    background-image: url(../images/wineBarrels.jpg);
    border: solid;
}

aside {
    width: 340px;
    float: right;
    height: 500px;
    background: rgb(67, 59, 58);
    opacity: .9;
    /* background-image: url("../images/the Winery about us.png"); */
    
}

footer {
    color: #fff;
    height: 50px;
    line-height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 180px;
    background: rgb(20, 2, 2);
}

footer li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}

footer a {
    color: #fff;
}

img {
    display: inline-block;
    max-width: 50%;
}

/* Typography */
h1 {
    text-align: center;
    font-size: 3em;
}

p {
    color: white;
    margin: 1em;             
    text-indent: 3ch;
}